<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="TRINITY M"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        >
        <activity
            android:name="io.flutter.embedding.android.FlutterFragmentActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Kakao Link -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <!-- 카카오톡 공유, 카카오톡 메시지 -->
                <data android:host="kakaolink"
                    android:scheme="kakao21ee6861e63748b4f8bd01db5a371d8f" />
            </intent-filter>

            <!-- Firebase Notify -->
            <intent-filter>
                <action android:name="FLUTTER_NOTIFICATION_CLICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Firebase Deeplink -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="xinno.page.link"
                    android:scheme="https"/>
            </intent-filter>

        </activity>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!-- 카카오 로그인 커스텀 URL 스킴 설정 -->
        <activity
            android:name="com.kakao.sdk.flutter.AuthCodeCustomTabsActivity"
            android:exported="true">
            <intent-filter android:label="flutter_web_auth">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- 카카오 로그인 Redirect URI -->
                <data
                    android:scheme="kakao21ee6861e63748b4f8bd01db5a371d8f"
                    android:host="oauth"/>
            </intent-filter>
        </activity>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility?hl=en and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>

        <!-- 보안-->
        <package android:name="com.ahnlab.v3mobileplus"/>
        <package android:name="com.TouchEn.mVaccine.webs"/>

        <!-- 우리카드-->
        <package android:name="com.wooricard.wpay"/>
        <package android:name="com.wooricard.smartapp"/>
        <package android:name="com.mysmilepay.app"/>

        <!-- 씨티카드-->
        <package android:name="kr.co.citibank.citimobile"/>
        <package android:name="com.citibank.cardapp"/>

        <!-- 신한카드-->
        <package android:name="com.shcard.smartpay"/>

        <!-- ISP-->
        <package android:name="kvp.jjy.MispAndroid320"/>

        <!-- KB-->
        <package android:name="com.kbcard.cxh.appcard"/>
        <package android:name="com.nhnent.payapp"/>

        <!-- 현대카드-->
        <package android:name="com.hyundaicard.appcard"/>
        <package android:name="com.samsung.android.spaylite"/>
        <package android:name="com.ssg.serviceapp.android.egiftcertificate"/>

        <!-- 삼성카드-->
        <package android:name="kr.co.samsungcard.mpocket"/>
        <package android:name="com.nhnent.payapp"/>
        <package android:name="com.samsung.android.spaylite"/>

        <!-- 하나카드-->
        <package android:name="com.hanaskcard.paycla"/>
        <package android:name="kr.co.hanamembers.hmscustomer"/>
        <package android:name="com.samsung.android.spaylite"/>
        <package android:name="com.kakao.talk"/>
        <package android:name="com.nhnent.payapp"/>

        <!-- 롯데카드-->
        <package android:name="com.lcacApp"/>
        <package android:name="com.lotte.lpay"/>
        <package android:name="com.nhnent.payapp"/>
        <package android:name="com.samsung.android.spaylite"/>

        <!-- 카카오페이 -->
        <package android:name="com.kakaopay.app"/>

        <!-- 농협카드-->
        <package android:name="nh.smart.nhallonepay"/>

        <package android:name="com.samsung.android.spay"/>
        <package android:name="net.nshc.droidx3web"/>
        <package android:name="kr.shiftworks.vguardweb"/>
        <package android:name="com.payprotocol.walletkr"/>
        <package android:name="kr.danal.app.damoum"/>
        <package android:name="com.kt.ktauth"/>
        <package android:name="uplus.membership"/>
        <package android:name="com.bankpay.android"/>
        <package android:name="com.kbstar.liivbank"/>
        <package android:name="com.nh.cashcardapp"/>
        <package android:name="kr.co.kfcc.mobilebank"/>
        <package android:name="com.knb.psb"/>
        <package android:name="com.kftc.bankpay.android"/>
        <package android:name="kr.co.shiftworks.vguardweb"/>
        <package android:name="com.kbankwith.smartbank"/>

        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

</manifest>
