<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817174764301-lbhai89qrrml3hs9hnqg2v7lhmdd083i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817174764301-lbhai89qrrml3hs9hnqg2v7lhmdd083i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>817174764301-3gh82fh63v316ahkkqd03j6hd9u46jpk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAsyBW8RmebcPd2vQmqym915U1JqDytB4</string>
	<key>GCM_SENDER_ID</key>
	<string>817174764301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xinno.trinity-m-00</string>
	<key>PROJECT_ID</key>
	<string>trinity-m-00</string>
	<key>STORAGE_BUCKET</key>
	<string>trinity-m-00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817174764301:ios:7e92898f55d345b7d16e44</string>
</dict>
</plist>